<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">{{this.productName}}</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/imgUploads/{{product.Images.0.image1}}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{product.productName}}</h2>
        <p>{{product.description}}</p>
        <p><strong class="text-primary h4"> ₹{{product.Price}}</strong></p>

        {{!-- <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="1" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>

        </div> --}}
        {{!-- <a oncick="//add_to_cart('{{product._id}}')" class="buy-now btn btn-sm btn-primary">Add To Cart</a> --}}

        <a onclick="add_to_cart('{{product._id}}')"><button class="btn btn-info">Add to cart</button> </a>
        <a onclick="add_to_wishlist('{{product._id}}')"><button class="btn btn-warning">Add to Wishlist</button></a>
        <p id="heart" stylle="widht:50px;height:50px" title="Set as Favorite" onclick="setMyFavorite();">&#9825;</p>
        {{!-- <a href="/viewWishlist/"><button class="btn btn-success">view wishlist</button></a> --}}

      </div>
    </div>
  </div>
</div>

<div class="site-section block-3 site-blocks-2 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Featured Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="nonloop-block-3 owl-carousel">
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="user/images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Tank Top</a></h3>
                <p class="mb-0">Finding perfect t-shirt</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="user/images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Corater</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="user/images/cloth_2.jpg" alt="Image placeholder" class="img-fluid">
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Polo Shirt</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="user/images/cloth_3.jpg" alt="Image placeholder" class="img-fluid">
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">T-Shirt Mockup</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="user/images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">Corater</a></h3>
                <p class="mb-0">Finding perfect products</p>
                <p class="text-primary font-weight-bold">$50</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Navigations</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Mountain Bikes</a></li>
              <li><a href="#">Road Bikes</a></li>
              <li><a href="#">Hybrid Bikes</a></li>
              <li><a href="#">Kids Bike</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Riding Accessories</a></li>
              <li><a href="#">Apparels</a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#">Point of sale</a></li>
              <li><a href="#">Hardware</a></li>
              <li><a href="#">Software</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h3 class="footer-heading mb-4">Promo</h3>
        <a href="#" class="block-6">
          <img src="user/images/promoimg.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
          <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
          <p>Promo from nuary 15 &mdash; 25, 2019</p>
        </a>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
            <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
            <li class="email">emailaddress@domain.com</li>
          </ul>
        </div>

        <div class="block-7">
          <form action="#" method="post">
            <label for="email_subscribe" class="footer-heading">Subscribe</label>
            <div class="form-group">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-primary" value="Send">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
            class="text-primary">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>

    </div>
  </div>
</footer>

<script>
  function add_to_cart(proId) {
    $.ajax({
      url: '/add-to-cart/' + proId,
      method: 'get',
      success: (response) => {
        if (response.status) {
          Swal.fire(
            'added to Cart!',
            'product added to Cart.',
            'success'
          )
          let count = $('#cart-count').html()
          counts = parseInt(count) + 1
          $('#cart-count').html(counts)
        } else {
          Swal.fire(
            'login!',
            'Please login first.',
            'close()'
          ).then(() => {
            location.href = '/Login'
          })

        }
      }
    })
  }
</script>
<script>

  function add_to_wishlist(proId) {
    alert("in")
    $.ajax({

      url: '/addtowishlist/' + proId,
      method: 'get',
      success: (response) => {
        if (response.msg) {
          addwishlist()
        }
        else if (response.err) {
          alreadyInWish()
        }
        else {
          loginfirst()
        }
      }
    })
  }
  function addwishlist() {
    Swal.fire({
      title: 'Product added to wishlist!',
      icon: 'success',
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'OK'
    }).then((result) => {
    })
  }

  function alreadyInWish() {
    Swal.fire({
      title: 'Item already added!',
      icon: 'warning',
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'OK'
    }).then((result) => {

    })
  }
  function loginfirst() {
    Swal.fire({
      title: ' Please login first!',
      icon: 'warning',
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'OK'
    }).then((result) => {
      location.href = '/login'
    })
  }
</script>
<script>

  function setMyFavorite() {
    alert('SetMyFavorite for ' + $("#heart").html());
    if ($("#heart").html() == "&#9825;") {
      alert("in")
      $("#heart").html("&#10084;");
    }

    if ($("#heart").html() == "&#10084;") {
      $("#heart").html("&#9825;");
    }
  }

</script>